html * {
    font-family: Arial;
}

button {
    position: relative;
    margin-left:10px;
    margin-right:10px;
}

.moves {
    height: 60vh;
    border: 1px solid black;
    column-fill: auto;
    -webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-width: 150px;
    -webkit-column-width: 150px;
    -moz-column-width: 150px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}